#custom_footer {
    background: currentColor;
}



#custom_overflowHiddeWrapper {
    background-color:currentColor;
}


#custom_redfin_logo{
    color:#4682B4;
    font-size:30px;
}

.custom_subheadLinkContent{
    color:whitesmoke !important;
}


.SubheadNav.subheadOverflowShown .SubheadNavLinks.mainNavigation{
    max-width: calc(103vw - 150px) !important;
}